

header{
    
    background-image: linear-gradient(rgb(42, 4, 87), rgb(129, 9, 129), black);
    top: 0;
    margin: 0;
    border: black solid 2px;
}


footer{
height: 61px;
    background-image: linear-gradient(rgb(42, 4, 87), rgb(129, 9, 129), black);
    margin: 0;
   
  
   
    
    
  


}


 h1, h5 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(247, 244, 244);
}

.rubrik{
    margin-top: 20vh;
    font-family: monospace;
    font-size: 3rem;
    
    text-align: center;
    color: cyan;
    text-shadow: 0 0 6px;
}

body{
    
   background-image: url(gruppbilder/Bank_heist_with_0.png);
   background-size: cover;  
   color: white;
}

:root {
     --bs-body-bg: red;
}


.card{
    margin: 
}




.card-content{
    width: 50%;
    
}

.col-sm-4{
    
    background-color: rgba(138, 73, 168, 0.2);
    border-radius: 5%;
    border: 1px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0, 0.5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);  above backdrop-filter snippet
    

}
.img-fluid{
    border-radius: 1rem; 
}

.border-primary{
    backdrop-filter: blur(1rem);
}



