body{
    
   background-image: url(gruppbilder/Bank_heist_with_0.png);
   background-size: cover;  
   color: white;
}

header{
    
    background-image: linear-gradient(rgb(42, 4, 87), rgb(129, 9, 129), black);
    top: 0;
    margin: 0;
    border: black solid 2px;
}


footer{
    height: 61px;
    background-image: linear-gradient(rgb(42, 4, 87), rgb(129, 9, 129), black);
    margin-top: 40px;

}


 .h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(247, 244, 244);
}

.h1{
    margin-top: 15vh;
    font-family: monospace;
    text-align: center;
    color: cyan;
    text-shadow: 0 0 6px;
}



:root {
     --bs-body-bg: red;
}



/* Allt ovanför det här är startsidans CSS!! */

.card-content{
   
    background-color: rgba(138, 73, 168, 0.2);
    border-radius: 5%;
    border: 1px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0, 0.5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem); 
}

.border-primary{
    backdrop-filter: blur(1rem);
}


.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


